<tr>
  <td>
    <span class="sender">
      <%= message.sender.name %>
      <%= link_to gravatar_for(message.sender), message.sender %>
    </span>
  </td>
  <td>
    <span class="recipient">
      <%= message.recipient.name %>
      <%= link_to gravatar_for(message.recipient), message.recipient %>
    </span>
  </td>
  <td>
    <span class="content"><%= wrap(message.content) %></span>
  </td>
  <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <td>
    <span class="timestamp">
      Last Message <%= time_ago_in_words(message.created_at)%> ago.
    </span>
  </td>
</tr>
