<tr>
  <td>
    <td>
      <span class="sender_img">
        <%= link_to gravatar_for(message.sender), message.sender %>
      </span>
    </td>
    <td>
      <span class="sender_name">
        <%= message.sender.name %>
      </span>
    </td>
  </td>
  <td>
    <td>
      <span class="recipient_img">
        <%= link_to gravatar_for(message.recipient), message.recipient %>
      </span>
    </td>
    <td>
      <span class="recipient_name">
        <%= message.recipient.name %>
      </span>
    </td>
  </td>
  <td>
    <span class="content"><%= wrap(message.content) %></span>
  </td>
  <td>
    <% if current_user.id == message.sender_id %>
    <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </td>
  <td>
    <span class="timestamp">
      Last Message <%= time_ago_in_words(message.created_at)%> ago.
    </span>
  </td>
</tr>
