<%= render 'shared/error_messages', object: f.object  %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :account_name, "Account Name"  %>
<%= f.text_field :account_name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirm Password" %>
<%= f.password_field :password_confirmation %>
<table>
  <tr>
    <td>
      <%= f.label :receive_notifications_by_email, "Receive Notifications By Email" %>
    </td>
    <td>
      <%= f.check_box :receive_notifications_by_email %>
    </td>
  </tr>
</table>
